:root {
  /**
   * Colors
   */

   /* Primary colors */
  --black: #111111;
  --white: #FFFFFF;

  --gray-darkest: #5A5A5A;
  --grey-darkest: var(--gray-darkest);
  --grey-700: var(--gray-darkest);
  --gray-700: var(--gray-darkest);

  --gray-dark: #999999;
  --grey-dark: var(--gray-dark);
  --grey-500: var(--gray-dark);
  --gray-500: var(--gray-dark);

  --gray: #E6E6E6;
  --grey: var(--gray);
  --grey-cl: var(--gray);
  --gray-cl: var(--gray);

  --gray-light: #F2F2F2;
  --grey-light: var(--gray-light);
  --grey-300: var(--gray-light);
  --gray-300: var(--gray-light);

  --gray-lightest: #F9F9F9;
  --grey-lightest: var(--gray-lightest);
  --grey-100: var(--gray-lightest);
  --gray-100: var(--gray-lightest);

  --color-highlight: #EF6569;

  /* Notification colors */
  --red: #D5292E;
  --green: #698C3E;
  --lgreen: #F0F6EC;
  --light-green: var(--lgreen);

  --appearances: primary, success, danger;
  --color-primary: var(--black);
  --color-success: var(--green);
  --color-danger: var(--red);

  /**
   * Style
   */
  --border-radius: 0;

  /**
  * Typography
  */
  --font-family-sans-serif: 'Maison Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --font-size: 0.875rem; /* 14px */
  --line-height: 1.125rem;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /**
   * Spacing
   */
   --spacing-xs: .2857rem; /* 4px */
   --spacing-s: .5714rem; /* 8px */
   --spacing-m: 1.143rem; /* 16px */
   --spacing-l: 2rem;  /* 28px */

   --padding: var(--spacing-m);
   --margin: var(--spacing-m);


  /**
   * Accessibility
   */
  --outline-width: 1px;
  --outline-style: solid;
  --outline-offset: 1px;
  --outline-color: rgba(17, 17, 17, 0.7);

  --disabled-opacity: .65;
  --disabled-cursor: not-allowed;
  --disabled-pointer-events: none;
}
