@import '../../Styles/src/variables.css';

.pl-btn {
  align-items: baseline;
  background-color: var(--black);
  border: none;
  border-width: 0;
  border-radius: var(--border-radius, 0);
  box-sizing: border-box;
  color: var(--white);
  cursor: pointer;
  display: inline-flex;
  font-family: var(--font-family-sans-serif);
  font-size: calc(var(--font-size) + 1px);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  justify-content: center;
  line-height: 1;
  margin: 0;
  max-width: 320px;
  min-width: 230px;
  padding: calc(var(--spacing-s) * 1.6) var(--spacing-m) calc(var(--spacing-s) * 1.4) var(--spacing-m);
  pointer-events: 'auto';
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:focus {
    outline: var(--outline-width) var(--outline-style) var(--outline-color);
    outline-offset: var(--outline-offset);
  }

  &:hover {
    background: color(var(--black) a(80%));
    color: var(--white);
  }

  &.pl-btn--small {
    font-size: calc(var(--font-size) - 10%);
    min-width: 180px;
    padding: calc(var(--spacing-s) * 1.2) var(--spacing-m) calc(var(--spacing-s) * 1.0) var(--spacing-m);
  }

  &.pl-btn--large {
    font-size: calc(var(--font-size) + 15%);
    min-width: 250px;
    padding: var(--spacing-m) var(--spacing-l) var(--spacing-m) var(--spacing-l);
  }

  &.pl-btn--fill {
    justify-content: center;
    width: 100%;
  }

  & + .pl-btn--fill {
    margin-top: .25rem;
    max-width: none;
  }

  &.pl-btn--secondary {
    background: color(var(--gray));
    color: var(--black);
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
    padding: calc(var(--spacing-s) * 1.7) var(--spacing-m) calc(var(--spacing-s) * 1.4) var(--spacing-m);

    &:hover {
      background: color(var(--gray) a(70%));
      color: var(--black);
    }
  }

  &.pl-btn--light {
    background-color: var(--white);
    color: var(--black);
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
    padding: calc(var(--spacing-s) * 1.7) var(--spacing-m) calc(var(--spacing-s) * 1.4) var(--spacing-m);

    &:hover {
      background: color(var(--gray));
      color: var(--black);
    }
  }

  &.pl-btn--transactional {
    text-transform: uppercase;
  }

  &:active,
  &.pl-btn--active {
    outline: none;
  }

  &.pl-btn--disabled,
  &[disabled] {
    background-color: var(--gray);
    color: var(--gray-dark);
    cursor: not-allowed;
    opacity: .7;
    pointer-events: none;
  }
}

.pl-btn--default:active,
.pl-btn--default.pl-btn--active {
  background-color: color(var(--gray) shade(15%));
}
